---
import "../styles/global.css";

// Components
import TimeItem from "../components/TimeItem.astro";
import MealItems from "../components/MealItems.astro";
import SalaryItem from "../components/SalaryItem.astro";
---

<!doctype html>
<html>
  <head>
    <title>Hvornår er det frokost?</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      data-domain="frokost.jub.dk"
      src="https://frokost.jub.dk/js/script.js"></script>
  </head>

  <body class="bg-gray-900 text-slate-300 md:overflow-hidden">
    <!-- md:overflow-hidden -->
    <div
      class="md:h-screen min-h-screen my-10 md:my-0 md:w-4/5 w-10/12 mx-auto flex justify-center items-center"
    >
      <div class="flex flex-col items-center gap-2 md:gap-6">
        <TimeItem />
        <SalaryItem />
        <MealItems />
        <p class="text-sm text-gray-400 mt-2">
          Vær opmærksom på, at denne side benytter sig af Plausible, som er et
          privat og anonymt statistikværktøj. Læs mere på
          <a href="analytics.wip.dk/privacy-policy" target="_blank"
            >plausible.io/privacy-policy</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
