---
const { food, cheeseDay } = Astro.props;
---

<div
  id={food.day}
  class="shadow bg-slate-800 rounded-lg hover:bg-slate-700 hover:shadow-md transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 p-4"
>
  <h2 class="font-bold text-lg">{food.day}</h2>
  <div class="grid grid-cols-1 gap-3">
    {
      food.dishes
      .sort((a, b) => a.type > b.type ? 1 : -1)
      .map((meal, i, row) => (
        <p>
          <span class="font-bold">
            {meal.type}
            {meal.name.length > 2 ? ": " : "!"} <!-- Fix for "god weekend" -->
          </span>
          {meal.name.length > 2 ? meal.name : ""} <!-- Fix for "god weekend" -->
        </p>
      ))
    }
    <p>{cheeseDay ? "Oste dag" : "Kage dag"}</p>
  </div>
</div>
